.active-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yet-to-register-image {
  width: 80%;
}

.registered-image {
  width: 100px;
}

.registrations-closed-image {
  width: 70%;
}

.register-description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
}

.register-button {
  background-color: #0967d2;
  color: #ffffff;
  font-size: 18px;
  width: 80%;
  border-radius: 10px;
  border: none;
  outline: none;
  height: 50px;
}

.registered-heading {
  text-align: center;
  color: #475569;
  font-family: 'Roboto';
  width: 80%;
}

.registration-closed-heading {
  color: #475569;
  font-family: 'Roboto';
  text-align: center;
}

.registration-closed-description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 20px;
  text-align: center;
  width: 60%;
}
